.formContainer {
  margin-top: 30px;

  > .inputBlock + .inputBlock {
    margin-top: 20px;
  }

  .inputGroup {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    .inputBlock {
      margin-top: 0;
    }
  }

  .inputBlock {
    label {
      color: #acacac;
      font-size: 14px;
      font-weight: bold;
      display: block;
    }
    input {
      width: 100%;
      height: 32px;
      font-size: 14px;
      color: #666;
      border: 0;
      border-bottom: 1px solid #eee;
    }
  }
  > .inputBlock {
    margin: 2rem 0;
  }

  h3 {
    color: #333;

    display: inline-flex;
    align-items: center;
  }

  > .twitterContainer {
    margin: 2rem 0;

    > .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > .twitterComponentGroup {
      margin: 1.5rem 0;

      > div {
        display: flex;

        background: #f3f3f3;
        border-radius: 4px;
        margin: 0.5rem 0;
        padding: 3px;

        > label {
          font-size: 14px;
        }
        > input {
          border: 0;
          width: 100%;
          padding: 0 5px;

          background: #f3f3f3;
        }
      }
    }
  }

  button[type="submit"] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #7d40e7;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;

    &:hover {
      background: #6931ca;
    }
  }
}
