@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --tertiary-white: #f9f9f9;
  --primary-white: #f5f3f5;
  --primary-white-00: #f4f2f4;

  --primary-fork: #2ea44f;
  --link: #5d80d6;
  --primary: #565661;
  --discord: #6e86d6;
  --reports: #4764f1;

  --panel-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --global-transition: 0.6s all cubic-bezier(0.4, 0, 0.2, 1);
  --primary-gradient: linear-gradient(
    91.18deg,
    var(--dominating) 26.63%,
    var(--purple) 62.22%
  );

  --mention-detail: #f9a839;
  --notification: #f84a4b;
  --text: #a8a8b3;
  --purple: #bd93f9;

  --dominating: #9eaac2;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #e5e6f0;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}
